<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bidzis.errorreportsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Attachment.AttachmentManagmentActivity" />
        <activity android:name=".Attachment.AttachmentGetAllActivity" />
        <activity android:name=".Attachment.AttachmentGetByIdActivity" />
        <activity android:name=".Attachment.AttachmentGetByFileNameActivity" />
        <activity android:name=".Attachment.AttachmentGetByMineTypeActivity" />
        <activity android:name=".Attachment.AttachmentGetByMineTypeAndNameActivity" />
        <activity android:name=".Attachment.AttachmentGetByNameActivity" />
        <activity android:name=".Attachment.AttachmentGetByTypeActivity" />
        <activity android:name=".Attachment.AttachmentSaveActivity" />
        <activity android:name=".History.HistoryManagmentActivity" />
        <activity android:name=".History.HistoryGetAllActivity" />
        <activity android:name=".History.HistoryGetByDateActivity" />
        <activity android:name=".History.HistoryGetByIdActivity" />
        <activity android:name=".History.HistoryGetByUserIdActivity" />
        <activity android:name=".History.HistoryGetByUserIdAndDateActivity" />
        <activity android:name=".History.HistoryRemoveActivity" />
        <activity android:name=".History.HistorySaveActivity" />
        <activity android:name=".History.HistorySaveWithAttachmentActivity" />
        <activity android:name=".Permission.PermissionManagmentActivity" />
        <activity android:name=".Permission.PermissionGetAllActivity" />
        <activity android:name=".Permission.PermissionGetByIdActivity" />
        <activity android:name=".Permission.GetByNameActivity" />
        <activity android:name=".Permission.PermissionRemoveActivity" />
        <activity android:name=".Permission.PermissionSaveActivity"></activity>
    </application>

</manifest>